@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.registerFormNew {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 400px;
  width: 100%;
  padding: 1rem 1rem;
}
.registerFormNew h1 {
  color: #000;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.registerFormNew p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}
.registerFormNew .iButton {
  cursor: pointer;
  color: rgb(0, 0, 0) !important;
}
.registerFormNew .textButton {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  background: none;
  border: none;
  color: rgb(21, 122, 255);
  font-family: Roboto;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.registerFormNew .normalButton {
  cursor: pointer;
  background: rgb(21, 122, 255);
  border-radius: 0.625rem;
  padding: 0.625rem;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.registerFormNew .normalButton:disabled {
  cursor: auto;
  background: rgb(124, 124, 124);
}
.registerFormNew .inputBox {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.75rem;
  background: rgba(0, 0, 0, 0.1);
  /* Change autocomplete styles in WebKit */
}
.registerFormNew .inputBox i {
  color: rgb(21, 122, 255);
  font-size: 1.125rem;
  line-height: 100%;
}
.registerFormNew .inputBox input {
  width: 100%;
  outline: none;
  padding: 0.75rem 0rem;
  font-family: "Roboto", sans-serif;
  background: none;
  border: none;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 100%;
}
.registerFormNew .inputBox input:-webkit-autofill,
.registerFormNew .inputBox input:-webkit-autofill:hover,
.registerFormNew .inputBox input:-webkit-autofill:focus,
.registerFormNew .inputBox textarea:-webkit-autofill,
.registerFormNew .inputBox textarea:-webkit-autofill:hover,
.registerFormNew .inputBox textarea:-webkit-autofill:focus,
.registerFormNew .inputBox select:-webkit-autofill,
.registerFormNew .inputBox select:-webkit-autofill:hover,
.registerFormNew .inputBox select:-webkit-autofill:focus {
  border: 1px solid none;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px none inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.registerFormNew .errorText {
  color: red !important;
  font-size: 0.8rem;
}
.registerFormNew .infoList {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}
.registerFormNew .infoList li {
  padding: 0.2rem 0;
}

.alignRight {
  display: flex;
  justify-content: flex-end;
}

.flexColumn,
.flexColumn8 {
  display: flex;
  flex-direction: column;
}

.flexColumn8 {
  gap: 8px;
}

.centredOnWeb {
  min-width: 100vw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=Register.css.map */